[submodule "kozz-baileys"]
	path = kozz-baileys
	url = git@github.com:Kozz-Bot/kozz-baileys.git
[submodule "kozz-gateway"]
	path = kozz-gateway
	url = git@github.com:Kozz-Bot/Kozz-Gateway.git
[submodule "kozz-wa"]
	path = kozz-wa
	url = git@github.com:Kozz-Bot/kozz-wa.git